
/* .render-ini-edit */
.render-ini-edit {
    margin: 0.5rem;
}

/* .render-ini-section */
.render-ini-section {
    border-style: dashed;
    border-width: 1px;
    border-color: gainsboro;
    padding: 0.5rem;
    margin: 1rem;
}


/* .render-ini-key */
.render-ini-key {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.render-ini-key label {
    margin-right: 1rem;
    min-width: 12rem;
    display: inline-block;
}

.render-ini-key select {
    width: 12rem;
    display: inline-block;
}
